<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunny Day</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sunny.css') }}"> 
    
   
</head>
<body>
  
    <div class =" message ">
        <h1>Sunny day</h1>
        <p> Tomorrow will be Sunny-Day Make  sure that you will dry your cloth in sun light .
               <h2> ! Enjoy the Dhoop.</h2>
        </p>
    </div>
</body>
</html>